:root {
    --accent-color1 {
        color: #fb0;
    }

    --accent-color2 {
        color: #0bf;
    }
}


@mixin debug {
    box-shadow: 0 0 10px #f0f;
}


// .debug1 {
//     border: 1px solid red;
// }

// .debug2 {
//     border: 1px solid green;
// }

// .debug3 {
//     border: 1px solid gold;
// }

// .debug4 {
//     border: 1px dashed #f0f;
// }

.timeline {
    .text {
        width: calc(100% - 100px);
        overflow-x: unset;

        ul {
            margin-top: 0;
            list-style: square;
        }

        pre {
            max-width: 100%;
            color: #fb0;
            background-color: #000;
            line-height: 1.1em;
            font-family: monospace !important;
            background-image: linear-gradient(0deg, #ffffff16 0%, transparent 100%);
            background-size: 100% 4px;
            background-repeat: repeat-y;
            border-radius: 10px;
            border-bottom: 1px solid #333;
            font-size: 0.8em;
            letter-spacing: -1px;
            white-space: break-spaces;
        }

        em,
        strong {
            color: rgb(193, 166, 91) !important;
            font-weight: bold;

            &::before {
                content: '*';
            }

            &::after {
                content: '*';
            }
        }

        code {
            font-family: monospace !important;
            color: #fb0;
            line-height: 1.1em;
        }
    }
}

.tabs li {
    background-color: #111;
}