:root {
    --accent-color1 {
        color: #fb0;
    }

    --accent-color2 {
        color: #0bf;
    }
}


@mixin debug {
    box-shadow: 0 0 10px #f0f;
}


// .debug1 {
//     border: 1px solid red;
// }

// .debug2 {
//     border: 1px solid green;
// }

// .debug3 {
//     border: 1px solid gold;
// }

// .debug4 {
//     border: 1px dashed #f0f;
// }

.timeline {
    .text {
        width: calc(100% - 100px);
        overflow-x: unset;
        ;

        ul {
            margin-top: 0;
            list-style: square;
        }

        pre {
            max-width: 100%;
            text-wrap: wrap;
            ;
        }
    }
}

.tabs li {
    background-color: #111;
}